@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
#header {
  background-color: #fff;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}
.container {
  max-width: 1300px;
  padding: 0 40px;
  margin: auto;
}
.navAlign {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.logo {
  width: 10%;
  display: flex;
}

.navbar-links {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#search {
  width: 100%;
  outline: none;
  padding: 10px 15px;
  border: 1px solid #c1c1c1;
}
.navbar-links i {
  background-color: #f1f1f1;
  color: #222222;
  padding: 12px 15px;
  margin: 0 7px;
  cursor: pointer;
}
/* categories */
#categories {
  padding: 20px 0;
}
.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cat-title h3 {
  padding: 10px 15px;
  border-radius: 5px;
  display: inline;
  background: rgb(241, 241, 241);
  background: linear-gradient(
    90deg,
    rgba(241, 241, 241, 1) 65%,
    rgba(255, 255, 255, 1) 100%
  );
}
.cat-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.cat {
  margin: 0 10px;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  border-radius: 5px;
}
.fa-user {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  width: 160px;
  margin-top: 13px;
  transform: translateY(25px);
  transition: 0.2s linear;
  opacity: 0;
  visibility: hidden;
  background-color: #f1f1f1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(44, 44, 44, 0.05);
  border-radius: 4px;
}
.dropdown-menu-signout {
  position: absolute;
  width: 160px;
  margin-top: 13px;
  transform: translateY(25px);
  transition: 0.2s linear;
  opacity: 0;
  visibility: hidden;
  background-color: #cbe0ff !important;
  padding: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(44, 44, 44, 0.05);
  border-radius: 4px;
}
.fa-right-to-bracket {
  background-color: transparent !important;
  padding: 0 !important;
  color: #222 !important;
}
.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown-menu-signout.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.dropdown-menu h3 {
  padding: 0 10px;
}
.dropdown-menu-signout a {
  color: #222;
  font-weight: 400;
  text-decoration: none;
}
.dropdown-menu a {
  padding: 10px;
  color: #222222;
  text-decoration: none;
  font-weight: 400;
  border-radius: 4px;
  transition: 0.3s linear;
}
.navbar-links .fa-cart-shopping {
  background-color: #f1f1f1;
  color: #222222;
  padding: 12px 15px;
  text-decoration: none;
  margin: 0 7px;
  cursor: pointer;
}
.dropdown-menu a:last-child {
  background-color: rgba(214, 41, 62, 0.1) !important;
  color: #d6293e !important;
}
.dropdown-menu a:last-child:hover {
  background-color: #d6293e !important;
  color: #fff !important;
}
nav .fa-cart-shopping {
  position: relative;
}
.navbar-links .fa-cart-shopping span {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff;
  top: -5px;
  right: -5px;
  font-size: 13px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
/* categories */
#categories {
  padding: 20px 0;
}
.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cat-title h3 {
  padding: 10px 15px;
  border-radius: 5px;
  display: inline;
  background: rgb(241, 241, 241);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 65%,
    rgba(241, 241, 241, 1) 100%
  );
}
.cat-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.cat {
  margin: 0 10px;
  border: 1px solid #e0e0e0;
  padding: 10px 15px;
  border-radius: 5px;
}
/* profile */

.profile,
.changeName {
  display: flex;
  width: 100%;
  background-color: #f1f1f1;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(44, 44, 44, 0.05);
  border-radius: 5px;
  padding-bottom: 20px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.profile-control {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 10px;
}
.profile-control input {
  width: 95%;
  padding: 10px;
  outline: none;
  margin-top: 5px;
  border-radius: 3px;
  transition: 0.3s linear;
  border: 1px solid #ababab;
  background-color: transparent;
}
.profile-control input:focus {
  border: 1px solid #222;
}
.designed-title {
  width: fit-content;
  padding: 10px 15px;
  margin: 30px 0 0 50px;
  border-radius: 5px;
  display: inline;
  background: rgb(241, 241, 241);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 65%,
    rgba(241, 241, 241, 1) 100%
  );
  font-size: 43px;
}
#profile {
  margin: 30px 0;
}
.changeName {
  margin-top: 40px;
}
.changeName .profile-control {
  margin: 30px 0 0 50px;
  width: 95%;
}
.changeNameButton {
  width: 95%;
  display: flex;
  margin: 10px 0;
  justify-content: flex-end;
}
.changeNameButton button {
  padding: 10px 25px;
  transition: 0.3s linear;
  margin-right: -10px;
  border: 1px solid #222;
  border-radius: 3px;
}
.changeNameButton button:hover {
  padding: 10px 25px;
  color: #fff;
  cursor: pointer;
  background-color: #222;
  margin-right: -10px;
}
